<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <main>
        <section class="card card-body">
            <h1 class="display-1 text-center">DJANGO TASKS</h1>
            <p>
                Aplicacion que permite la creacion de tareas, su edicion, marcar su importancia y su posterior eliminacion cuando la misma caduque. Además, cuenta con un sistema de autenticacion mediante usuarios.
            </p>
            <div class="text-center">
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
                <a href="{% url 'signin' %}" class="btn btn-primary">Sign in</a>
            </div>
        </section>
    </main>
    
    
    {% endblock %}
    
</body>
</html>